html {
  font-size: 100%;
}

.largeChart {
    background-color:#eeeeee;
    padding:20px; 
}

.largeChartFrame {
    width:600;
    height:350;
    scrolling:no;
    frameborder:0;    
}

.smallChart {
    background-color:#eeeeee;
    padding:20px; 
}

.smallChartFrame {
    width:500;
    height:250;
    scrolling:no;
    frameborder:0;    
}

.totalScore {
    background-color:#eeeeee;
}

.homeIntroduction {
    width: 800px;
    margin: 20px;
}

p {
    
}